@kyso-io:registry=https://gitlab.kyso.io/api/v4/packages/npm/
//gitlab.kyso.io/api/v4/packages/npm/:_authToken=RS77A9_LKMWy7BfkNzVn

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=4DF0E587-8BAD-4F39-9E3C-00563EC11658


