/* START THEME */
img.k-left-logo {
  content: url('/assets/images/kyso-logo-and-name-dark.svg');
}

img.k-right-logo {
  display: none;
}

.k-bg-primary {
  background-color: #244362;
}

.k-bg-primary:disabled {
  background-color: #64748b;
}

.k-bg-primary-disabled {
  background-color: #64748b;
}

.k-bg-primary:hover {
  background-color: #162c40;
}

.header.k-bg-primary:hover {
  background-color: #244362;
}

.k-right-toc {
  background-color: #fafafa;
  float: right;
  left: 78%;
  padding: 13px;
  position: fixed;
  width: 41vh;
  z-index: 2;
  opacity: 0.9;
}

.k-edit-report-image:hover + .k-edit-report-badge {
  bottom: 0px;
  background-color: #fafafa;
  display: block;
  opacity: 0.8;
  pointer-events: none;
}

.k-edit-report-image {
  min-height: 200px;
}

.k-edit-report-badge {
  display: none;
}

.k-highlighted-text {
  background-color: #ffee80;
}

/* Read more component */
.read-more-button {
  color: blue;
  text-decoration: underline;
}

.displayed-text {
  word-wrap: break-word;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
/* END THEME */

#tooltip {
  display: inline-block;
  background: #435b6f;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;
  z-index: 1;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

.tasks .container-inline-comment .displayed-text {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/**** Terminal ****/
.terminal-window {
  text-align: left;
  min-height: 360px;
  border-radius: 10px;
  margin: auto;
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 20;
}

.terminal-window header {
  background: #e0e8f0;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
}

.terminal-window header .button {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.terminal-window header .button.green {
  background: #3bb662;
}

.terminal-window header .button.yellow {
  background: #e5c30f;
}

.terminal-window header .button.red {
  background: #e75448;
}

.terminal-window section.terminal {
  color: white;
  font-family: Menlo, Monaco, 'Consolas', 'Courier New', 'Courier';
  font-size: 11pt;
  background: #30353a;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0;
  overflow: auto;
}

.terminal-window section.terminal .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.terminal-data {
  position: inherit;
  color: greenyellow;
}
.terminal-window .gray {
  color: gray;
}
.terminal-window .green {
  color: green;
}
