/* START THEME */
img.k-left-logo {
  content: url('/assets/images/kyso-logo-and-name-dark.svg');
}

img.k-right-logo {
  display: none;
}

.k-bg-primary {
  background-color: #244362;
}

.k-bg-primary-hover:hover {
  background-color: #162c40;
}

.k-bg-primary-disabled {
  background-color: #64748b;
}

.k-right-toc {
  background-color: #fafafa;
  float: right;
  left: 78%;
  padding: 13px;
  position: fixed;
  width: 41vh;
  z-index: 2;
  opacity: 0.9;
}

.k-edit-report-image:hover + .k-edit-report-badge {
  bottom: 0px;
  background-color: #fafafa;
  display: block;
  opacity: 0.8;
  pointer-events: none;
}

.k-edit-report-image {
  min-height: 200px;
}

.k-edit-report-badge {
  display: none;
}

/* Read more component */
.read-more-button {
  color: blue;
  text-decoration: underline;
}

.displayed-text {
  word-wrap: break-word;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
/* END THEME */

.p-mention {
  z-index: -1;
}

#tooltip {
  display: inline-block;
  background: #435b6f;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;
  z-index: 1;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

.tasks .container-inline-comment .displayed-text {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
